
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


/* shared styles */
.display-flex{
    display: flex;
}

/* header styles */

.container{
    width: 1158px;
    displa: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-div{
    width: 640px;
    margin-left: 141px;
    margin-top: 50px;
}

.container-title{
    font-weight: 700;
    font-size: 3.5rem;
    margin-right: 90px;
}

.hero-kid{
    width: 468px;
    margin-right: -1000px;
    margin-top: 20px;

}

.span-1{
    color: orange;
}
.span-3{
    color: skyblue;
}

.container-description{
    font-weight: 400px;
    font-size: 1.25rem;
    margin-top: -20px;
}

.container-btn{
    width: 197px;
    height: 50px;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    border: none;
    background-color: black;
    border-radius: 12px;

}

/* navbar related styles */
.navbar{
    max-width: 1440px;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}

.navbar-first-logo{
    width: 62;
    height: 62;
    margin-left: 20px;
    /* margin-left: -300px; */
}

.nav-item{
    list-style: none;
    margin-right: 32px;
    margin-top: 10px;
}

.nav-link-1{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    color: orange;

}
.nav-link-2{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: skyblue;

}
.nav-link-3{
    text-decoration: none;
    font-weight: 500px;
    font-size: 1.2rem;
    color: #05D4DF;

}
.nav-link-4{
    text-decoration: none;
    font-weight: 500px;
    font-size: 1.2rem;
    color: #5D58EF;

}



.navbar-button{
    width: 197px;
    height: 50px;
    margin-top: 18px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: orange;
    border: none;
    border-radius: 12px;
}

/* standard related style */

.standard-section{
    width: 1440px;
    height: 879px; 
}

.standard-title-first{
    text-align: center;
    margin-top: 55px;
    font-weight: 700;
    font-size: 2.8rem;
}

.standard-container{
    margin-top: 80px;
    gap: 28px;
    justify-content: center;
}

.standard-div{
    width: 367px;
    height: 476px;
    justify-items: center;
    text-align: center;
    gap: 28px;
    background: radial-gradient(circle at top, #e3f2fd, #ffffff);
    border-radius: 20px;
}

.standard-img{
    width: 136px;
    height: 136px;
    margin-top: 52px;
}

.standard-title{
    width: 211px;
    height: 31px;
    font-weight: 700;
    font-weight: 1.5rem;
    margin-top: 32px;
    color: black;
}

.standard-description{
    font-family: 'Raleway';
    width: 300px;
    height: 100px;
    font-weight: 500;
    font-size: 1rem;
    color: black;

}

.read-more-a{
    text-decoration: none;
    font-weight: 700px;
    font-size: 1rem;
    color: #64C8FF;
}

.color-yellow{
    color: #F0AA00;
    background: radial-gradient(circle at top, #FFF4DC, #ffffff);
}

.color-violet{
    color: #8700FF;
    background: radial-gradient(circle at top, #F2E8FF, #ffffff);
}

.arrow {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  .arrow-1, .arrow-2 {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #FFC107;
    color: white;
    font-size: 1.2rem;
  }

/* our story related style */

.our-title{
    font-weight: 700;
    font-size: 2.8rem;
    margin-top: -50px;
    margin-bottom: 70px;
}

.our-section{
    max-width: 1440px;
    justify-content: center;
    justify-items: center;
    height: 965px;
}

.main{
    background: radial-gradient(circle at bottom, #FFF4DC, #ffffff);
}
.our-container{
    display: flex;
    gap: 18px;
}

.story-1-container{
    width: 540px;
    height: 630px;
    background-color: white;
    border-radius:  1px 1px 15px 15px;
}

.story-1{
    border-radius: 15px 15px 1px 1px;
    margin-bottom: -20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    

}

.our-pic{
    border-radius: 15px 15px 1px 1px;
    margin-bottom: -20px;
}

.our-btn-p{
    font-family: 'Raleway';
    width: 156px;
    height: 42px;
    border: none;
    border-radius: 47px;
    background-color: #3CD8E8;
    font-weight: 500;
    font-style: 1rem;
    color: white;
    margin-left: 30px;
}

.color-beguni{
    background-color: #5D58F0;
}

.color-green{
    background-color: #95B226;
}

.small-container{
    max-width: 290px;
    height: 301px;
    background-color: white;
    margin-top: 18px;
    margin-left: 18px;
    border-radius:  1px 1px 15px 15px;

}

.small-container-small-width{
    width: 290px;
    height: 301px;
    background-color: white;
    margin-top: 18px;
    margin-left: 18px;
    border-radius:  1px 1px 15px 15px;

}

.our-s-title{
    width: 463px;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 55px;
    margin-left: 30px;
}

.our-p{
    font-family: 'Raleway';
    width: 433px;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 50px;
    margin-left: 30px;
}


.our-p-q{
    width: 198px;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 23px;
    margin-left: 37px;
    color: #000000;
}

.view-btn{
     width: 197px;
     height: 50px;
     background-color: black;
     border: none;
     border-radius: 12px;
     font-weight: 700;
     font-size: 1.2rem;
     color: white;
     margin-top: 80px;

}

/* fotter releted style */

.edu-description{
    width: 500px;
    height: 100%;
    margin-top: 38px;
    font-weight: 500;
    font-size: 1.25rem;
    color: #FFFFFF;
    margin-left: 135px;
    margin-bottom: 180px;

}

.fotter-container{
    height: 519px;
    background-color: #01ACFD;
}

.fotter-flex{
    height: 222px;
    margin-top: 98px;
    margin-left: 122;

}

.fotter-h{
    font-weight: 700;
    font-size: 2.6rem;
    color: #ffffff;
    margin-top: 95px;
}

.fotter-logo{
    margin-left: 125px;
    margin-top: 90px;
    height: 100px;
    width: 85px;

}

.fotter-about{
    margin-top: 65px;
    margin-left: 100px;
}

.fotter-li{
    list-style: none;
    margin-top: 32px;
    margin-left: -35px;
    color: white;
}

.fotter-a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.fotter-h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

.fotter-h3-2{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-left: 143px;
    margin-top:  85px;

}

.footer-img{
    margin-top: 15px;
    margin-left: 135px;
}

@media screen and (max-width: 576px) {
    .first-title,
    .nav-link-1,
    .nav-link-2,
    .nav-link-3,
    .nav-link-4,
    .navbar-button{
        display: none;
    }
        .navbar-first-logo{
            margin-left: -107px;
            margin-top: -2px;
        }
        
        .keep{
            display: none;
        }
        .three-dot{
            width: 40px;
            margin-right:-470px
        }

        .container{
            /* grid-template-columns: repeat(1, 1fr); */
            flex-direction: column-reverse;
        }

        .hero-kid{
            margin-top: 60px;
            width: 30%;
            margin-left: 17px;
        }

        .container-title{
            text-align: center;
            font-size: 210%;
            margin-left: -460px;
            margin-top: -22px;
        }

        .container-description{
            text-align: center;
            width: 50%;
            font-size: 100%;
            margin-left: -120px;
            margin-top: 1px;
        }

        .container-btn{
            margin-left: -50px;
            margin-top: 2px;
        }

        .standard-title-first{
            text-align: center;
            font-size: 190%;
            margin-left: -1060px;
            margin-bottom: -60px;
            margin-top: 80px;
        }

        .standard-container {
            flex-direction: column;
        }

        .standard-div{
            width: 24%;
            margin-left: 17px;
        }

        .arrow{
            display: none;
        }

        .story-1-container{
            display: none;
        }

        .main{
            margin-top: 700px;
        }

        .our-section{
            justify-content: center;
            justify-items: center;
            align-items: center;
            /* margin-top: -700px;
            margin-left: -400px;
             margin-right: none; */
        }

        .small-container{
            width: 173px;
            height: 180px;
            /* margin-left: -20px;
            margin-right: 10px; */
        }

        .small-container-small-width{
            width: 173px;
            height: 180px;
            /* margin-left: -20px;
            margin-right: 10px; */
            
        }

        .our-pic{
            width: 173px;
            height: 105;
            margin-bottom: -15px;
        }

        .our-btn-p{
            font-family: 'Raleway';
            width: 103px;
            height: 20px;
            border: none;
            border-radius: 28px;
            background-color: #3CD8E8;
            font-weight: 500;
            font-style: 0.5rem;
            color: white;
            margin-left: 20px;
        }
        .our-p-q{
            width: 107px;
            font-weight: 700;
            font-size: 0.5rem;
            margin-top: 14px;
            margin-left: 22px;
            color: #000000;
        }

        .prothom, .tritio, .poncom {
            margin-left: -10px;
        }

        .sostho, .cothurtho, .ditiyo {
            margin-left: -1px;
        }

        .our-title{
            /* margin-left: -25px; */
        }

        body{
            background-size: 200%;
        }

        .our-container{
            margin-bottom: -100px;
        }

        .fotter-logo{
            margin-left: 16px;
            margin-top: 25px;
            height: 68px;
            width: 68px;
        
        }

        .fotter-h{
            font-weight: 700;
            font-size: 2.6rem;
            color: #ffffff;
            margin-top: 25px;
        }


        .edu-description{
            width: 357px;
            height: 100%;
            margin-top: 22px;
            font-weight: 500;
            font-size: 1rem;
            color: #FFFFFF;
            margin-left: 20px;
            margin-bottom:px;


        }

        

        
       
 

@media screen and (min-width: 576px) {
    .three-dot{
        display: none;
    }
    .small-container-small-width{
        display: none;
    }
}